{% extends 'base2.html' %}

{% block head %}
<title>API</title>
{% endblock %}

{% block body %}
<main>
  <div class="main__container">
    <!-- MAIN TITLE STARTS HERE -->

    <div class="main__greeting">
      <h1>API Key</h1>
    </div>

    <!-- MAIN TITLE ENDS HERE -->

    <!-- MAIN CARDS STARTS HERE -->
    <div class="main__cards">
      <div class="card">
        <div class="card_inner_api">
          <p class="api-key">Key:</p>
          <p class="api-key-p" id="apikey" style="line-height: 50px;">{{ data }}</p>
          <button onclick="CopyToClipboard('apikey');return false;">Copy <i class="fa fa-clipboard"></i>
          </button>
        </div>
        <a href="#" style="text-decoration: none; color: rgb(24, 82, 190);">API Documentation</a>
      </div>


      <div class="charts">
        <div class="charts__left">
          <div class="charts__left__title">
            <div>
              <h1>API Usage</h1>
            </div>
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <div id="apex2"></div>
        </div>
      </div>
    </div>
</main>

<script>
  function CopyToClipboard(id) {
    var r = document.createRange();
    r.selectNode(document.getElementById(id));
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(r);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
  }
</script>

<script>
  var date_api = JSON.parse('{{ data2 | tojson | safe}}');
  var num_api = JSON.parse('{{ data3 | tojson | safe}}');
</script>
{% endblock %}