{% extends 'base2.html' %}

{% block head %}
<title>API</title>
{% endblock %}

{% block body %}
<main>
  <div class="main__container">
    <!-- MAIN TITLE STARTS HERE -->

    <div class="main__greeting">
      <h1>API Key</h1>
    </div>

    <!-- MAIN TITLE ENDS HERE -->

    <!-- MAIN CARDS STARTS HERE -->
    <div class="main__cards">
      <div class="card">
        <div class="card_inner">
          <p class="api-key">Key:</p>
          <p class="api-key-p" id="apikey">babhdd-defnfenf-fefeif32-32424</p>
          <button onclick="CopyToClipboard('apikey');return false;">Copy <i class="fa fa-clipboard"></i>
          </button>
        </div>
      </div>


    </div>
</main>

<script>
  function CopyToClipboard(id) {
    var r = document.createRange();
    r.selectNode(document.getElementById(id));
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(r);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
  }
</script>

{% endblock %}