
{% extends 'base2.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<main>
    <div class="main__container">
        <!-- MAIN TITLE STARTS HERE -->

        <div class="main__title">
            <img src="assets/hello.svg" alt="" />
          <div class="main__greeting">
              <h1>Hello Codersbite</h1>
          </div>
      </div>

        <!-- MAIN TITLE ENDS HERE -->

        <!-- MAIN CARDS STARTS HERE -->
        <div class="main__cards container-dashboard-url">
          <div class="card">
            <i
              class="fa fa-search fa-2x text-lightblue"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Total URL</p>
              <span class="font-bold text-title">{{ data.data0 }}</span>
            </div>
          </div>

          <div class="card">
            <i
              class="fa fa-search-plus fa-2x text-green"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Benign URL</p>
              <span class="font-bold text-title">{{ data.data1 }}</span>
            </div>
          </div>

          <div class="card">
            <i
              class="fa fa-search-minus fa-2x text-red"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Malicious URL</p>
              <span class="font-bold text-title">{{ data.data2 }}</span>
            </div>
          </div>
        </div>
        <!-- MAIN CARDS ENDS HERE -->

        <!-- CHARTS STARTS HERE -->
        <!-- Daily report -->
        <div class="charts container-dashboard">
          <div class="charts__left">
            <div class="charts__left__title">
              {% if session['email'] == 'dafiq856@gmail.com'%}
              <div>
                <h1>ML Accuracy</h1>
              </div>
              <i class="fa fa-bullseye" aria-hidden="true"></i>
            </div>
            <div class="card">
                <p class="text-primary-p">Current Accuracy</p>
                <span class="font-bold text-title">98.01%</span>
            </div> 
            <br> <br>         
            <div class="card">
              <p class="text-primary-p">Predicted Accuracy</p>
              <p class="text-primary-p-note">Calculated from user report</p>
              <span class="font-bold text-title">95.01%</span>
          </div>
            {% else %}
            <div>
              <h1>Daily Report</h1>
            </div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div id="apex1"></div>
            {% endif %}
          </div>

          <div class="charts__right">
            <div class="charts__right__title">
              <div>
                <h1>Recent Scanned URL</h1>
              </div>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>

            <!-- Stats Report -->
            <div class="charts__right__cards">
              <table>
                <tr>
                  <th>Url</th>
                  <th>Status</th>
                </tr>
                {% for x in data.data3 %}
                <tr>
                  <td>{{ x.urls }}</td>
                  <td>{{ x.status }}</td>
                </tr>
                {% endfor %}
              </table>            
            </div>
          </div>
        </div>
        <!-- CHARTS ENDS HERE -->
      </div>
    </main>


{% endblock %}

