{% extends 'base2.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<main>
  <div class="main__container">
    <!-- MAIN TITLE STARTS HERE -->

    <div class="main__title">
      <!-- <img src="assets/hello.svg" alt="" /> -->
      <div class="main__greeting">
        {% if session['email'] == 'admin@gmail.com'%}
        <h1>Hello Admin</h1>
        <p>Welcome to admin dashboard</p>
        {% else %}
        <h1>Hello {{ session['fname'] }}</h1>
        <p>Welcome to your dashboard</p>
        {% endif%}
      </div>
    </div>

    <!-- MAIN TITLE ENDS HERE -->

    <!-- MAIN CARDS STARTS HERE -->
    <div class="main__cards container-dashboard-url">
      <div class="card">
        <i class="fa fa-search fa-2x text-lightblue" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Total URL</p>
          <span class="font-bold text-title">{{ data.data0 }}</span>
        </div>
      </div>

      <div class="card">
        <i class="fa fa-search-plus fa-2x text-green" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Benign URL</p>
          <span class="font-bold text-title">{{ data.data1 }}</span>
        </div>
      </div>

      <div class="card">
        <i class="fa fa-search-minus fa-2x text-red" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Malicious URL</p>
          <span class="font-bold text-title">{{ data.data2 }}</span>
        </div>
      </div>
    </div>
    <!-- MAIN CARDS ENDS HERE -->

    <!-- CHARTS STARTS HERE -->
    <!-- Daily report -->
    <div class="charts container-dashboard">
      <div class="charts__left">
          {% if session['email'] == 'admin@gmail.com'%}
          <div class="charts__left__title">

          <div>
            <h1>ML Accuracy</h1>
          </div>
          <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>

        <div class="accuracy-chart">
          <div id="apex3"></div>

          <div id="apex4"></div>
        </div>



        {% else %}
        <div class="charts__left__title">
        <div>
          <h1>Daily Report</h1>
        </div>
        </div>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <div id="apex1"></div>
        {% endif %}
      </div>

      <div class="charts__right">
        <div class="charts__right__title">
          <div>
            <h1>Recent Scanned URL</h1>
          </div>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>

        <!-- Stats Report -->
        <div class="charts__right__cards">
          <table>
            <tr>
              <th>Url</th>
              <th>Status</th>
            </tr>
            {% for x in data.data3 %}
            <tr>
              <td>{{ x.urls }}</td>
              <td class="td-status">
                {% if x.status == 'benign' %}
                <p style="background-color: #c8e6c9; color: #388e3c;">{{ x.status }}</p>
                {% else %}
                <p style="background-color: #ffcdd2; color: #c62828;">{{ x.status }}</p>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <!-- CHARTS ENDS HERE -->
  </div>
</main>



{% endblock %}