{% extends 'base2.html' %}

{% block head %}
<title>Extension</title>
{% endblock %}

{% block body %}
<main>
  <div class="main__container">
    <!-- MAIN TITLE STARTS HERE -->

    <div class="main__greeting">
      <h1>Browser Extension</h1>
    </div>

    <!-- MAIN TITLE ENDS HERE -->

    <!-- MAIN CARDS STARTS HERE -->
    <div class="main__cards">
      <div class="card">
        <div class="card_inner_api">
          <p class="api-key-p" style="text-align: justify; line-height: 30px;">We also provide an extension for you to
            scan any URL that opened on your browser tab. It more convenient and easier for users because they do not
            need to type the URL. By simply clicking to a button only, the result of the scanned URL will be displayed.
            It is great, right? <br><br> However, currently we only provide an
              extension for <b>Chrome browser </b>only. We will try to make our extension available for other web browser in the future.
          </p>

        </div>
        <a href="#" style="text-decoration: none; color: rgb(24, 82, 190); padding: 15px 0  0 10px;">Chrome browser
          extension</a>
      </div>



    </div>
</main>



{% endblock %}