{% extends 'base2.html' %}

{% block head %}
<title>Report</title>
{% endblock %}

{% block body %}
<main>
    <div class="main__container">
        <!-- MAIN TITLE STARTS HERE -->

        <div class="main__title">
            <img src="assets/hello.svg" alt="" />
          <div class="main__greeting">
              <h1>Total Reports</h1>
          </div>
      </div>

        <!-- MAIN TITLE ENDS HERE -->

        <!-- MAIN CARDS STARTS HERE -->
        <div class="main__cards container-report">
          <div class="card">
            <i
              class="fa fa-list fa-2x"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Reported Url</p>
              <span class="font-bold text-title">{{ data.data0 }}</span>
            </div>
          </div>
          <div class="card">
            <i
              class="fa fa-smile-o fa-2x text-green"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Valid Report</p>
              <span class="font-bold text-title">{{ data.data1 }}</span>
            </div>
          </div>
          <div class="card">
            <i
              class="fa fa-frown-o fa-2x text-red"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Invalid Report</p>
              <span class="font-bold text-title">{{ data.data2 }}</span>
            </div>
          </div>
          <div class="card">
            <i
              class="fa fa-spinner fa-2x text-yellow"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Processing</p>
              <span class="font-bold text-title">{{ data.data3 }}</span>
            </div>
          </div>
        </div>
        <!-- MAIN CARDS ENDS HERE -->

        <!-- CHARTS STARTS HERE -->
        <!-- Daily report -->
        <div class="charts" style="grid-template-columns: 1fr;">
          <div class="charts__left">
            <div class="charts__right__title">
              <div>
                <h1>Reported URL</h1>
              </div>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>

            <!-- Stats Report -->
            <div class="charts__right__cards">
              <table id="report" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                  <th>Url</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>

              <tbody>
                {% for x in data.data4 %}
                <tr>
                  <td>{{ x.url }}</td>
                  <td>10-02-2021</td>
                  <td class="td-status">
                    {% if x.status == 'valid' %}
                    <p style="background-color: #c8e6c9; color: #388e3c;">{{ x.status }}</p>
                    {% elif x.status == 'invalid' %}
                    <p style="background-color: #ffcdd2; color: #c62828;">{{ x.status }}</p>
                    {% else %}
                    <p style="background-color: #fff8cd; color: #c6bb28;">{{ x.status }}</p>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- CHARTS ENDS HERE -->
      </div>
    </main>


    <script>
      // Datatables

    </script>
    
{% endblock %}