{% extends 'base.html' %}

{% block head %}
<title>Login - ScanMe</title>

{% endblock %}

{% block body %}

<div class="login-form">
    <h2 style="color: #2c4893;">Sign In</h2>




    <div class="container-form">
        <div class="main-login">
            <div class="content">
                
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}

                <form method="POST">
                    <input class="form-homepage" type="text" name="emailusername" placeholder="Email or username" required autofocus="">
                    <input class="form-homepage" type="password" name="password" id="password" placeholder="Password" required autofocus="">
                    <span class="fa fa-eye-slash posi" aria-hidden="true" id="eye"></span>
                    <button class="btn" type="submit">Sign In</button>
                </form>
                <p><a href="/forgot" style="color: #0568c1; font-size: 15px;">Forgot Password?</a></p>
                <p class="account">Don't have an account? <a href="/sign_up"> Sign Up</a></p>
            </div>
            <div class="form-img">
                <img src="/static/css/images/signin.jpg">
            </div>
        </div>
    </div>
</div>



{% endblock %}