{% extends 'base2.html' %}

{% block head %}
<title>Users</title>
{% endblock %}

{% block body %}

<main>
    <div class="main__container">
        <!-- MAIN TITLE STARTS HERE -->

        <div class="main__title">
            <img src="assets/hello.svg" alt="" />
          <div class="main__greeting">
              <h1>Hello Admin</h1>
              <p>Welcome to user information</p>
          </div>
      </div>

        <!-- MAIN TITLE ENDS HERE -->

        <!-- MAIN CARDS STARTS HERE -->
        <div class="main__cards container-dashboard-url">
          <div class="card">
            <i
              class="fa fa-user-o fa-2x text-lightblue"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Registered Users</p>
              <span class="font-bold text-title">30</span>
            </div>
          </div>

          <div class="card">
            <i
              class="fa fa-video-camera fa-2x text-yellow"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Active Users</p>
              <span class="font-bold text-title">15</span>
            </div>
          </div>

          <div class="card">
            <i
              class="fa fa-thumbs-up fa-2x text-green"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Admin Users</p>
              <span class="font-bold text-title">2</span>
            </div>
          </div>
        </div>
        <!-- MAIN CARDS ENDS HERE -->

        <!-- CHARTS STARTS HERE -->
        <!-- Daily report -->
        <div class="charts" style="grid-template-columns: 1fr;">
          <div class="charts__left">
            <div class="charts__right__title">
              <div>
                <h1>Reported URL</h1>
              </div>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>

            <!-- Stats Report -->
            <div class="charts__right__cards">
              <table id="users" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                  <th> </th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>User Role</th>
                  <th>Reports</th>
                  <th>Last Login</th>
                </tr>
                </thead>
                <tbody>
                {% for x in data %}
                <tr>
                  <td>{{ x.urls }}</td>
                  <td>10-02-2021</td>
                  <td class="td-status">
                    {% if x.status == 'valid' %}
                    <p style="background-color: #c8e6c9; color: #388e3c;">{{ x.status }}</p>
                    {% elif x.status == 'invalid' %}
                    <p style="background-color: #ffcdd2; color: #c62828;">{{ x.status }}</p>
                    {% else %}
                    <p style="background-color: #fff8cd; color: #c6bb28;">{{ x.status }}</p>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- CHARTS ENDS HERE -->
      </div>
    </main>



{% endblock %}